.sidebar
  width: 400px
  background-color: rgba(255,255,255, 0.7)
  height: 100vh
  transition: background-color 300ms
  position: sticky
  top: 0
  left: 0
  &:hover
    background-color: rgba(255,255,255, 0.9)